POSTGRES_USER=vet_user
POSTGRES_PASSWORD=vet_password

# Nomes das bases de dados individuais
POSTGRES_DB_IDENTIDADE=db_identidade
POSTGRES_DB_CLINICO=db_clinico
POSTGRES_DB_AGENDAMENTO=db_agendamento
POSTGRES_DB_FATURAMENTO=db_faturamento

# Portas dos Bancos para acesso local (Host -> Container)
POSTGRES_PORT_IDENTIDADE=5431
POSTGRES_PORT_CLINICO=5432
POSTGRES_PORT_AGENDAMENTO=5433
POSTGRES_PORT_FATURAMENTO=5434

# ==================================================
# MENSAGERIA (RabbitMQ)
# ==================================================
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# ==================================================
# API GATEWAY & REDE
# ==================================================
GATEWAY_PORT=80